.country {
    padding: 50px;
}

.btn-light {
    padding: 10px 30px;
    margin-bottom: 30px;
    display: inline-block;
    box-shadow: 0 5px 20px hsla(200, 15%, 8%, 0.5);
}

.btn-light span {
    font-weight: 200;
}



.country article .countryDetails div {
    margin: 20px 0px;
}

.country article .countryDetails div h2 {
    font-size: 30px;
    font-weight: 700;
}

.country article .countryDetails div h5 {
    font-size: 18px;
    font-weight: 600;
    margin: 5px 0;
}

.country article .countryDetails div h5 span {
    font-weight: 200;
}

.country article .borders .listItems ul {
    list-style-type: none;
}

.country article .borders .listItems {
    display: flex;
    flex: wrap;
}



.country article .borders .listItems ul li {
    background-color: hsl(209, 23%, 22%);
    margin: 10px;
    padding: 8px;
    border-radius: 3px;
    box-shadow: 0 5px 20px hsla(200, 15%, 8%, 0.5);
}

.tld ul {
    list-style-type: none;
}

.tld {
    display: flex;
    flex: wrap;
}

.tld ul li  {
    background-color: hsl(209, 23%, 22%);
    margin: 10px;
    padding: 4px 10px;
    border-radius: 3px;
    box-shadow: 0 5px 20px hsla(200, 15%, 8%, 0.5);
}
